.titulo
{
    text-align: center;
}

.iimg
{
    margin-left: 480px;
}

body
{
    background-color: #DAA520;
}

.ddiv
{
    background-color: gray;
    height: 0 auto;
    width: 1200px;
    margin-left: 350px;
}

.pp
{
    text-align: center;
}

.arte
{
    float: right;
    width: 500px;
    height: 400px;
    margin-right: 350px;
    margin-top: -110px;
}

.b {
    background-position: left;
    background-color: midnightblue;
    width: 135px;
    height: 30px;
    margin-left: 40px;
    color: #fefffe;
}
